In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score,accuracy_score
from sklearn.model_selection import cross_val_score,GridSearchCV,StratifiedKFold
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_selector,make_column_transformer
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
hr=pd.read_csv("HR_comma_sep.csv")
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [3]:
hr=pd.get_dummies(hr,dtype=int,drop_first=True)
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0.10,0.77,6,247,4,0,1,0,0,0,0,0,0,0,1,0,0,1,0
3,0.92,0.85,5,259,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0
4,0.89,1.00,5,224,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0

In [4]:
X=hr.drop('left',axis=1)
y=hr['left']

In [5]:
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)

In [6]:
scaler=StandardScaler()

In [7]:
X_scaled=scaler.fit_transform(X)

In [ ]:
scores=[]
perplex=[5]
for i in perplex:
    tsne=TSNE(random_state=23,perplexity=i)
    X_tsne=tsne.fit_transform(X_scaled)
    svm=SVC(kernel='linear')
    results=cross_val_score(svm,X_tsne,y,cv=kfold,verbose=3)
    scores.append(results.mean())

In [ ]:
print("Best perplex: ",perplex[np.argmax(scores)])
print("Best Score: ",np.max(scores))